{
  "openapi": "3.0.3",
  "info": {
    "title": "Weplant Restful API",
    "description": "API Spec for Weplant Restful API",
    "version": "1.0.0",
    "contact": {
      "name": "Muhammad Ilham Nadhif",
      "email": "ilham.10rpl2.2019@gmail.com"
    }
  },
  "servers": [
    {
      "url": "https://api.weplant-backend.com/api/v1"
    }
  ],
  "paths": {
    "/auth/merchant": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "description": "Login For Merchant",
        "summary": "Login For Merchant",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success Login Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/customer": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "description": "Login For Customer",
        "summary": "Login For Customer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success Login Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          }
        }
      }
    },

    "/merchants": {
      "post": {
        "tags": [
          "Merchant"
        ],
        "description": "Create Merchant",
        "summary": "Create Merchant",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "province": {
                    "type": "string"
                  },
                  "postal_code": {
                    "type": "string"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success Create Merchant",
            "content": {
              "application/json": {
                "schema": {
                      "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/merchants/{merchantId}": {
      "get": {
        "tags": [
          "Merchant"
        ],
        "description": "Get Merchant By Id",
        "summary": "Get Merchant By Id",
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "description": "Merchant Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success Get Category By Id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "status`": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "integer"
                        },
                        "updated_at": {
                          "type": "integer"
                        },
                        "email": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "main_image": {
                          "$ref": "#/components/schemas/ImageResponse"
                        },
                        "products": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ProductSimpleResponse"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Merchant"
        ],
        "description": "Update Merchant By Id",
        "summary": "Update Merchant By Id",
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "description": "Merchant Id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "address": {
                    "$ref": "#/components/schemas/Address"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success Update Merchant By Id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "status`": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "address": {
                          "$ref": "#/components/schemas/Address"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Merchant"
        ],
        "description": "Delete Merchant By Id",
        "summary": "Delete Merchant By Id",
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "description": "Merchant Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success Delete Merchant By Id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "status`": {
                      "type": "string"
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/merchants/{merchantId}/orders": {
      "get": {
        "tags": [
          "Merchant"
        ],
        "description": "Get Manage Order Merchant By Id",
        "summary": "Get Manage Order Merchant By Id",
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "description": "Merchant Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success Get Manage Order Merchant By Id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "merchant_id": {
                          "type": "string"
                        },
                        "products": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "created_at": {
                                "type": "integer"
                              },
                              "updated_at": {
                                "type": "integer"
                              },
                              "product_id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "slug": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "price": {
                                "type": "integer"
                              },
                              "quantity": {
                                "type": "integer"
                              },
                              "total_price": {
                                "type": "integer"
                              },
                              "main_image": {
                                "$ref": "#/components/schemas/ImageResponse"
                              },
                              "address": {
                                "$ref": "#/components/schemas/Address"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/merchants/{merchantId}/image": {
      "patch": {
        "tags": [
          "Merchant"
        ],
        "description": "Update Main Image Merchant By Id",
        "summary": "Update Main Image Merchant By Id",
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "description": "Merchant Id"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success Update Main Image Merchant By Id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "integer"
                        },
                        "main_image": {
                          "$ref": "#/components/schemas/ImageCreateRequestResponse"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },

    "/products": {
      "post": {
        "tags": [
          "Product"
        ],
        "description": "Create Product",
        "summary": "Create Product",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "merchant_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "price": {
                    "type": "integer"
                  },
                  "stock": {
                    "type": "integer"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "images": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  },
                  "categories": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success Create Product",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "integer"
                        },
                        "updated_at": {
                          "type": "integer"
                        },
                        "merchant_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "price": {
                          "type": "integer"
                        },
                        "stock": {
                          "type": "integer"
                        },
                        "main_image": {
                          "$ref": "#/components/schemas/ImageCreateRequestResponse"
                        },
                        "images": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ImageCreateRequestResponse"
                          }
                        },
                        "categories": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "category_id": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Product"
        ],
        "description": "Get All Product",
        "summary": "Get All Product",
        "responses": {
          "200": {
            "description": "Success Get All Product",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "products": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ProductSimpleResponse"
                          }
                        },
                        "metadata": {
                          "type": "object",
                          "properties": {
                            "current_page": {
                              "type": "integer"
                            },
                            "per_page": {
                              "type": "integer"
                            },
                            "total_data": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}": {
      "get": {
        "tags": [
          "Product"
        ],
        "description": "Get Product By Id",
        "summary": "Get Product By Id",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "Product Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success Get Product By Id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "integer"
                        },
                        "updated_at": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "price": {
                          "type": "integer"
                        },
                        "stock": {
                          "type": "integer"
                        },
                        "main_image": {
                          "$ref": "#/components/schemas/ImageResponse"
                        },
                        "images": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ImageResponse"
                          }
                        },
                        "categories": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CategoryResponse"
                          }
                        },
                        "merchant": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "slug": {
                              "type": "string"
                            },
                            "phone": {
                              "type": "string"
                            },
                            "main_image": {
                              "$ref": "#/components/schemas/ImageResponse"
                            },
                            "address": {
                              "$ref": "#/components/schemas/Address"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Product"
        ],
        "description": "Update Product By Id",
        "summary": "Update Product By Id",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "Product Id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "price": {
                    "type": "integer"
                  },
                  "stock": {
                    "type": "string"
                  },
                  "categories": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "category_id": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success Update Product By Id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "price": {
                          "type": "integer"
                        },
                        "stock": {
                          "type": "string"
                        },
                        "categories": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "category_id": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Product"
        ],
        "description": "Delete Product By Id",
        "summary": "Delete Product By Id",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "Product Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success Delete Product By Id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "status`": {
                      "type": "string"
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}/image": {
      "patch": {
        "tags": [
          "Product"
        ],
        "description": "Update Main Image Product By Id",
        "summary": "Update Main Image Product By Id",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "Product Id"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success Update Main Image Product By Id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "integer"
                        },
                        "main_image": {
                          "$ref": "#/components/schemas/ImageCreateRequestResponse"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}/images": {
      "post": {
        "tags": [
          "Product"
        ],
        "description": "Push Image Into Images Product By Id",
        "summary": "Push Image Into Images Product By Id",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "Product Id"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "images": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success Push Image Into Images Product By Id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}/images/{imageId}": {
      "delete": {
        "tags": [
          "Product"
        ],
        "description": "Pull Image Into Images Product By Id",
        "summary": "Pull Image Into Images Product By Id",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "Product Id"
          },
          {
            "name": "imageId",
            "in": "path",
            "description": "Image Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success Push Image Into Images Product By Id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },

    "/categories": {
      "post": {
        "tags": [
          "Category"
        ],
        "description": "Create Category",
        "summary": "Create Category",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success Create Category",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "status`": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "integer"
                        },
                        "updated_at": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Category"
        ],
        "description": "Get All Category",
        "summary": "Get All Category",
        "responses": {
          "200": {
            "description": "Success Get All Category",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "status`": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CategoryResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/categories/{categoryId}": {
      "get": {
        "tags": [
          "Category"
        ],
        "description": "Get Category By Id",
        "summary": "Get Category By Id",
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "Category Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success Get Category By Id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "status`": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "integer"
                        },
                        "updated_at": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "main_image": {
                          "$ref": "#/components/schemas/ImageResponse"
                        },
                        "products": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ProductSimpleResponse"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },

    "/customers": {
      "post": {
        "tags": [
          "Customer"
        ],
        "description": "Create Customer",
        "summary": "Create Customer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "user_name": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success Create Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}": {
      "get": {
        "tags": [
          "Customer"
        ],
        "description": "Get Customer By Id",
        "summary": "Get Customer By Id",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Customer Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success Get Customer By Id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "integer"
                        },
                        "updated_at": {
                          "type": "integer"
                        },
                        "email": {
                          "type": "string"
                        },
                        "user_name": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Customer"
        ],
        "description": "Update Customer By Id",
        "summary": "Update Customer By Id",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Customer Id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_name": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success Update Customer By Id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "integer"
                        },
                        "user_name": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Customer"
        ],
        "description": "Delete Customer By Id",
        "summary": "Delete Customer By Id",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Customer Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success Delete Customer By Id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/carts": {
      "get": {
        "tags": [
          "Customer"
        ],
        "description": "Get Cart Customer By Id",
        "summary": "Get Cart Customer By Id",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Customer Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success Get Cart Customer By Id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "customer_id": {
                          "type": "string"
                        },
                        "total_price": {
                          "type": "integer"
                        },
                        "products": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "product_id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "slug": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "price": {
                                "type": "integer"
                              },
                              "quantity": {
                                "type": "integer"
                              },
                              "main_image": {
                                "$ref": "#/components/schemas/ImageResponse"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/transactions": {
      "get": {
        "tags": [
          "Customer"
        ],
        "description": "Get Transaction Customer By Id",
        "summary": "Get Transaction Customer By Id",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Customer Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success Get Transaction Customer By Id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "customer_id": {
                          "type": "string"
                        },
                        "transactions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "created_at": {
                                "type": "integer"
                              },
                              "updated_at": {
                                "type": "integer"
                              },
                              "payment_type": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "qr_code": {
                                "type": "string"
                              },
                              "total_price": {
                                "type": "integer"
                              },
                              "products": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "product_id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "slug": {
                                      "type": "string"
                                    },
                                    "description": {
                                      "type": "string"
                                    },
                                    "price": {
                                      "type": "integer"
                                    },
                                    "quantity": {
                                      "type": "integer"
                                    },
                                    "main_image": {
                                      "$ref": "#/components/schemas/ImageResponse"
                                    }
                                  }
                                }
                              },
                              "address": {
                                "$ref": "#/components/schemas/Address"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/orders": {
      "get": {
        "tags": [
          "Customer"
        ],
        "description": "Get Order Customer By Id",
        "summary": "Get Order Customer By Id",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Customer Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success Get Order Customer By Id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "customer_id": {
                          "type": "string"
                        },
                        "products": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "created_at": {
                                "type": "integer"
                              },
                              "updated_at": {
                                "type": "integer"
                              },
                              "product_id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "slug": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "price": {
                                "type": "integer"
                              },
                              "quantity": {
                                "type": "integer"
                              },
                              "main_image": {
                                "$ref": "#/components/schemas/ImageResponse"
                              },
                              "address": {
                                "$ref": "#/components/schemas/Address"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },

    "/carts/{customerId}": {
      "post": {
        "tags": [
          "Cart"
        ],
        "description": "Push Product To Cart By Customer Id",
        "summary": "Push Product To Cart By Customer Id",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Customer Id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "product_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success Push Product To Cart By Customer Id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "customer_id": {
                          "type": "string"
                        },
                        "product_id": {
                          "type": "string"
                        },
                        "quantity": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/carts/{customerId}/products/{productId}": {
      "patch": {
        "tags": [
          "Cart"
        ],
        "description": "Update Quantity Product From Cart By Customer Id",
        "summary": "Update Quantity Product From Cart By Customer Id",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Customer Id"
          },
          {
            "name": "productId",
            "in": "path",
            "description": "Product Id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "quantity": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success Update Quantity Product From Cart By Customer Id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "customer_id": {
                          "type": "string"
                        },
                        "product_id": {
                          "type": "string"
                        },
                        "quantity": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Cart"
        ],
        "description": "Pull Product From Cart By Customer Id",
        "summary": "Pull Product From Cart By Customer Id",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Customer Id"
          },
          {
            "name": "productId",
            "in": "path",
            "description": "Product Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success Pull Product From Cart By Customer Id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },

    "/transactions": {
      "post": {
        "tags": [
          "Transaction"
        ],
        "description": "Create Transaction By Customer Id",
        "summary": "Create Transaction By Customer Id",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Customer Id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Address"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success Create Transaction By Customer Id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "created_at": {
                          "type": "integer"
                        },
                        "updated_at": {
                          "type": "integer"
                        },
                        "payment_type": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "qr_code": {
                          "type": "string"
                        },
                        "address": {
                          "$ref": "#/components/schemas/Address"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transactions/{customerId}/transactions/{transactionId}": {
      "delete": {
        "tags": [
          "Transaction"
        ],
        "description": "Cancel Transaction By Customer Id",
        "summary": "Cancel Transaction By Customer Id",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Customer Id"
          },
          {
            "name": "transactionId",
            "in": "path",
            "description": "Transaction Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success Cancel Transaction By Customer Id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LoginRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "role": {
                "type": "string"
              },
              "token": {
                "type": "string"
              }
            }
          }
        }
      },
      "CategoryResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "created_at": {
            "type": "integer"
          },
          "updated_at": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "main_image": {
            "$ref": "#/components/schemas/ImageResponse"
          }
        }
      },
      "ProductSimpleResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "merchant_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "integer"
          },
          "stock": {
            "type": "integer"
          },
          "main_image": {
            "$ref": "#/components/schemas/ImageResponse"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "province": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          }
        }
      },
      "ImageCreateRequestResponse": {
        "type": "object",
        "properties": {
          "file_name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "ImageResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "file_name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      }
    }
  }
}
